.create-item-container
{
    position: absolute;
    width: 100%;
    height: 80px;
    top: 90%;
}

.item-submit-button
{
    width: 100%;
}

.item-input
{
    display: inline-block;
    width: 50%;
}
